<div class="toolbar">
  <mat-toolbar color="primary">
  <span>{{pageTitle}}</span>
  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>
  <button mat-button (click)="openDialog()">+ New Post</button>
</mat-toolbar>
</div>

<body *ngIf="posts$ | async as posts">

  <div class="container"
  *ngFor="let post of posts"
  [ngClass]="{'active': post?.id === (selectedPost$ | async)?.id}"
  (click)="postSelected(post)"
  >

    <button style="float: right;" mat-icon-button *ngIf="post?.id === (selectedPost$ | async)?.id"><mat-icon>create</mat-icon></button>
    <Span>{{post.authorName}}</Span>
    <h2>{{post.title}}</h2>
    <p>{{post.content}}</p>
    <button mat-icon-button style="color: red;" *ngIf="post?.id === (selectedPost$ | async)?.id" (click)="onDelete(post.id)"><mat-icon>delete</mat-icon></button>
    <span class="time-right">{{post.unixTime | unixToTimestamp}}</span>
  </div>
</body>

